
.idea/
*.iml
*.iws
*.ipr
out/

venv/
.venv/
env/
ENV/
auth.env
.env

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
dist/
build/
*.egg-info/

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties

.gradle/
build/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
